<div>
  <form class="ph-field">
    <input type="text" oninput="disableDel()" id="FIO" placeholder="ФИО">
    <input type="text" oninput="disableDel()" id="Pnumber" placeholder="Телефон">
  </form>
</div>
